# World Population Progress Through History

In [1]:
# These lines import the Numpy and Datascience modules.
import numpy as np
from datascience import *

# These lines do some fancy plotting magic.
import matplotlib
%matplotlib inline
import matplotlib.pyplot as plots
plots.style.use('fivethirtyeight')

from ipywidgets import interact, interactive, fixed, interact_manual
import ipywidgets as widgets

In [26]:
population = Table.read_table("https://github.com/open-numbers/ddf--gapminder--systema_globalis/raw/master/ddf--datapoints--population_total--by--geo--time.csv")
population = population.set_format("population_total", NumberFormatter)
pop = population.drop(0)
pop.group(0, sum).relabeled(1, "Total Population").set_format(1, NumberFormatter)

time | Total Population
1800 | 948,784,816
1801 | 952,969,354
1802 | 957,188,652
1803 | 961,450,077
1804 | 965,746,378
1805 | 970,075,767
1806 | 974,435,944
1807 | 978,823,346
1808 | 983,237,625
1809 | 987,671,330
... (291 rows omitted)

In [3]:
# Population of Bangledesh between 1970 and 2015 inclusively using the where method and the predicate are.between_or_equal_to
b_pop = population.where("geo", "bgd").drop("geo").where("time", are.between_or_equal_to(1970, 2015))
b_pop

time | population_total
1970 | 65,047,770
1971 | 66,424,744
1972 | 67,597,470
1973 | 68,691,185
1974 | 69,884,420
1975 | 71,305,923
1976 | 72,999,136
1977 | 74,925,896
1978 | 77,033,846
1979 | 79,236,776
... (36 rows omitted)

In [4]:
# Return only the years 1970 and 2015
a = make_array(1970, 2015)
#b_pop.take([0,b_pop.num_rows-1])
b_pop.where('time', are.contained_in(a))

time | population_total
1970 | 65,047,770
2015 | 161,200,886

In [5]:
type(population.select('time', 'geo'))

datascience.tables.Table

In [6]:
population.column(1)

array([1800, 1801, 1802, ..., 2098, 2099, 2100])

In [7]:
population.columns

(array(['afg', 'afg', 'afg', ..., 'zwe', 'zwe', 'zwe'], dtype='<U3'),
 array([1800, 1801, 1802, ..., 2098, 2099, 2100]),
 array([ 3280000,  3280000,  3280000, ..., 40591626, 40642628, 40687107]))

In [8]:
population.num_columns

3

In [9]:
# Population of Bangledesh from 1970 to 2015 every 5 years
fives = np.arange(1970, 2016, 5) # 1970, 1975, 1980, ...
b_five = b_pop.sort('time').where('time', are.contained_in(fives))
b_five

time | population_total
1970 | 65,047,770
1975 | 71,305,923
1980 | 81,470,860
1985 | 93,199,865
1990 | 106,188,642
1995 | 118,706,871
2000 | 131,581,243
2005 | 143,431,101
2010 | 152,149,102
2015 | 161,200,886

Create a table called `b_five_growth` which shows the growth rate for each five-year period from 1970 through 2010.

In [10]:
# Exclude the first row
b_five.exclude(0)

time | population_total
1975 | 71,305,923
1980 | 81,470,860
1985 | 93,199,865
1990 | 106,188,642
1995 | 118,706,871
2000 | 131,581,243
2005 | 143,431,101
2010 | 152,149,102
2015 | 161,200,886

In [11]:
b_1970_through_2010 = b_five.where('time', are.below_or_equal_to(2010))
# Example: population in 1975 / population in 1970,......, population in 2015 / population in 2010
b_five_growth = b_1970_through_2010.with_column('annual_growth', (b_five.exclude(0).column(1)/b_1970_through_2010.column(1))**0.2-1)
b_five_growth.set_format('annual_growth', PercentFormatter)

time | population_total | annual_growth
1970 | 65,047,770       | 1.85%
1975 | 71,305,923       | 2.70%
1980 | 81,470,860       | 2.73%
1985 | 93,199,865       | 2.64%
1990 | 106,188,642      | 2.25%
1995 | 118,706,871      | 2.08%
2000 | 131,581,243      | 1.74%
2005 | 143,431,101      | 1.19%
2010 | 152,149,102      | 1.16%

In [12]:
b_1970_through_2010

time | population_total
1970 | 65,047,770
1975 | 71,305,923
1980 | 81,470,860
1985 | 93,199,865
1990 | 106,188,642
1995 | 118,706,871
2000 | 131,581,243
2005 | 143,431,101
2010 | 152,149,102

In [15]:
round(((71305923 / 65047770)**0.2 - 1)*100, 2)

1.85

In [22]:
b_pop[1]

array([ 65047770,  66424744,  67597470,  68691185,  69884420,  71305923,
        72999136,  74925896,  77033846,  79236776,  81470860,  83721268,
        86007331,  88338242,  90732362,  93199865,  95742431,  98343809,
       100975321, 103599232, 106188642, 108727432, 111221938, 113695139,
       116182267, 118706871, 121269645, 123854640, 126447965, 129029691,
       131581243, 134107160, 136600667, 139019001, 141307489, 143431101,
       145368004, 147139191, 148805814, 150454708, 152149102, 153911916,
       155727053, 157571292, 159405279, 161200886])